<script id="site-script" src="{{{uiRootPath}}}/js/site.js" data-ui-root-path="{{{uiRootPath}}}"></script>
<script async src="{{{uiRootPath}}}/js/vendor/highlight.js"></script>
{{#if env.SITE_SEARCH_PROVIDER}}
{{> search-scripts}}
{{/if}}

<script async src="{{uiRootPath}}/js/vendor/medium-zoom.min.js"></script>
<script async src="{{uiRootPath}}/js/medium-zoom.config.js"></script>
<script defer data-domain="docker-scripts.gitlab.io" src="https://analytics.fs.al/js/script.js"></script>
