{{#with page.navigation}}
<div class="nav-panel-menu is-active" data-panel="menu">
  <nav class="nav-menu">
    <button class="nav-menu-toggle" aria-label="Toggle expand/collapse all" style="display: none"></button>
    {{#with @root.page.componentVersion}}
    {{!--
    <h3 class="title"><a href="{{{relativize ./url}}}">{{./title}}</a></h3>
    --}}
    {{/with}}
{{> nav-tree navigation=this}}
  </nav>
</div>
{{/with}}
